//fonts

@font-face{
    font-family: shrikhand-regular;
    src: url(./polices/Shrikhand-Regular.otf);
}

//queries
        //mobile
$mobile_s: 320px;
$mobile_m: 375px;
$mobile_l: 425px;


//colors

$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-body: #ecebeb;
$color-gradient: linear-gradient(to bottom right, $color-secondary, $color-primary);


//mixin and placeholder

@mixin position-center($color:$color-white){
    display: flex;
    justify-content: center;
    background-color: $color;
}

@mixin btn_step ($right: 35px){
    position: relative;
    right: $right;
    border: 1px solid $color-primary;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    color: $color-white;
}

%btn-new {
        position: relative;
        bottom: 180px;
        background-color: #99E2D0;
        width: 60px;
        display: flex;
        justify-content: center;
        color: #008766;
        left: 200px;
    }


body{
    background-color: $color-body;
}



// ----HEADER----   
header{
    @include position-center();
    border-bottom: 1px solid black;
    box-shadow: 0px 2px grey;
    text-decoration: none;
    h1{
        font-family: shrikhand-regular;
    }
    a{
        display: flex;
        color: black;
    }
}


// -----LOCALISATION-----
.icon-local{
    @include position-center($color-body);
    height: 50px;
    margin-top: 8px;
    .fa-map-marker-alt{
        margin: auto;
    }
}


// ----PRESENTATION----
.presentation{
    @include position-center($color-body);
    flex-direction: column;
    border-top: 1px solid black;
    box-shadow: 0px 0px 5px grey;

    .discover{
        @include position-center();
        height: 215px;
        flex-direction: column;
        text-align: center;
        padding: 10px 20px 10px 20px;
        h2{
            margin: auto;
            font-size: 23px;
        }
        .btn{
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            border-radius: 10% / 50%;
            height: 50px;
            

            &_explore{
                display: flex;
                padding-top: 10px;
                justify-content: center;
                align-content: center;
                color: $color-white;
            }
        }
        }
        .explanation{
            height: 360px;
            i{
                position: relative;
                right: 20px;
            }
            .container_step{
                display: flex;
                height: 150px;
                flex-direction: column;
                align-items: center;
                height: 73%;
            
            }
            .btn_step{
                display: flex;
                margin: 10px;
                width: 300px;
                border: 1px solid $color-body;
                border-radius: 30px;
                box-shadow: 3px 3px 3px grey;
                padding: 15px;
                font-weight: bold;
                @media (max-width: $mobile_s) {
                    width: 230px;
                }
                @media (min-width: $mobile_m) {
                    width: 280px;
                }

                &:hover{
                    background-color: #F5EDFF;
                    color: $color-primary;
                }
            }
            .step__1, .step__2, .step__3 {
                @include btn_step()
            }
        }
}

// ---PLACEMENT---

img 
{
    width: 270px;
    height: 180px;
}
 
    // BTN LIKE 
.btn {
    .fa-heart {
        color: $color-white;
        text-shadow: 1px 1px 5px black;
        
        &:active{
            color: $color-primary;
        }
    }
    
}

.info_new{
    @extend %btn-new;
}


//footer
footer {
    background-color: #353535;
    color: $color-white;
    padding: 15px 15px 15px 15px;
    .container_footer{
    }
    h3{
        font-family: shrikhand-regular;
    }
}